<div class="text-gray-800  rounded-2xl">
  <form [formGroup]="loginForm" class="text-left" (submit)="onSubmit()">
    <div>
      <label for="login-email" class="block text-sm text-gray-800">Email Address</label>
      <input id="login-email" type="email" formControlName="username" name="username"
             class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
      <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
          <span *ngIf="submitted && username?.getError('required')">
            {{'register.form.validator.required' | translate}}
          </span>
      </div>
    </div>

    <div class="mt-2">
      <div class="flex items-center justify-between">
        <label for="login-password" class="block text-sm text-gray-800">Mot de passe</label>
        <a href="#" class="text-xs text-gray-600 hover:underline">Mot de passe oublié ?</a>
      </div>

      <input id="login-password" type="password" formControlName="password" name="password"
             class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40"/>
      <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
          <span *ngIf="submitted && password?.getError('required')">
            {{'register.form.validator.required' | translate}}
          </span>
      </div>
    </div>

    <div class="mt-4">
      <button
        class="w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
        Se Connecter
      </button>
    </div>
  </form>

  <div class="flex items-center justify-between mt-4">
    <span class="w-1/5 border-b lg:w-1/5"></span>

    <a href="#" class="text-xs text-center text-gray-500 uppercase hover:underline">
      ou se connecter avec un réseau social
    </a>

    <span class="w-1/5 border-b lg:w-1/5"></span>
  </div>

  <div class="flex items-center h-6 py-8 justify-center">
    <app-google-sign-in (socialUser)="loginWithGoogle($event)"></app-google-sign-in>
  </div>

</div>
