<div class="text-gray-800  rounded-2xl">
  <form [formGroup]="loginForm" class="text-left" (submit)="onSubmit()">

    <label for="username" class="block text-sm text-gray-800">{{'register.form.email' | translate}}</label>
    <tui-input id="username" formControlName="username" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="email" autocomplete="email"/>
    </tui-input>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
        <span *ngIf="username?.touched  && username?.getError('required')">
          {{'register.form.validator.required' | translate}}
        </span>
    </div>

    <div class="flex items-center justify-between">
      <label for="password" class="block text-sm text-gray-800">Mot de passe</label>
      <a href="#" class="text-xs text-gray-600 hover:underline">Mot de passe oublié ?</a>
    </div>
    <tui-input-password id="password" formControlName="password" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="password" />
    </tui-input-password>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
      <span *ngIf="password?.touched  && password?.getError('required')">
        {{'register.form.validator.required' | translate}}
      </span>
    </div>

    <div class="mt-4">
      <button
        class="w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
        Se Connecter
      </button>
    </div>
  </form>

  <div class="flex items-center justify-between mt-4">
    <span class="w-1/5 border-b lg:w-1/5"></span>

    <p class="text-xs text-center text-gray-500 uppercase">
      ou se connecter avec un réseau social
    </p>

    <span class="w-1/5 border-b lg:w-1/5"></span>
  </div>

  <div class="flex items-center h-6 py-8 justify-center">
    <app-google-sign-in (socialUser)="loginWithGoogle($event)"></app-google-sign-in>
  </div>

</div>
