.image-container {
  position: relative;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.loading-overlay.show {
  opacity: 1;
}
