<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="mb-3 text-left">

    <label for="firstname" class="block text-sm text-gray-800">{{'register.form.firstname' | translate}} *</label>
    <tui-input id="firstname" formControlName="firstname" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield/>
    </tui-input>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
      <span *ngIf="firstname?.touched && firstname?.getError('required')">
        {{'register.form.validator.required' | translate}}
      </span>
      <span *ngIf="firstname?.touched && firstname?.getError('invalidName')">
        {{'register.form.validator.invalidName' | translate}}
      </span>
    </div>

    <label for="lastname" class="block text-sm text-gray-800">{{'register.form.lastname' | translate}} *</label>
    <tui-input id="lastname" formControlName="lastname" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield/>
    </tui-input>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
      <span *ngIf="lastname?.touched && lastname?.getError('required')">
        {{'register.form.validator.required' | translate}}
      </span>
      <span *ngIf="lastname?.touched && lastname?.getError('invalidName')">
        {{'register.form.validator.invalidName' | translate}}
      </span>
    </div>

    <label for="email" class="block text-sm text-gray-800">{{'register.form.email' | translate}} *</label>
    <tui-input id="email" formControlName="email" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="email" autocomplete="email"/>
    </tui-input>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
        <span *ngIf="email?.touched  && email?.getError('required')">
          {{'register.form.validator.required' | translate}}
        </span>
      <span *ngIf="email?.touched && email?.getError('email')">
        {{'register.form.validator.email' | translate}}
      </span>
    </div>

    <label for="password" class="block text-sm text-gray-800">{{'register.form.password' | translate}} *</label>
    <tui-input-password id="password" formControlName="password" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield/>
    </tui-input-password>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
      <span *ngIf="password?.touched && password?.getError('required')">
        {{'register.form.validator.required' | translate}}
      </span>
        <span *ngIf="password?.touched && password?.getError('passwordLength')">
        {{'register.form.validator.passwordLength' | translate}}
      </span>
    </div>


    <label for="phoneNumber" class="block text-sm text-gray-800">{{'register.form.phoneNumber' | translate}}</label>
      <tui-input-phone id="phoneNumber" formControlName="phoneNumber" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true" [countryCode]="'+32'" [phoneMaskAfterCountryCode]="'### ## ## ##'">
        <input tuiTextfield/>
      </tui-input-phone>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
      <span *ngIf="phoneNumber?.touched && phoneNumber?.getError('invalidPhoneNumber')">
      {{'register.form.validator.phoneNumber' | translate}}
    </span>
    </div>

    <label for="gender">{{'register.form.gender' | translate}} *</label>
    <tui-select id="gender" formControlName="gender" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield/>
      <ng-template tuiDataList>
        <tui-data-list *ngIf="genders">
          <button *ngFor="let gender of genders" tuiOption [value]="gender">
            {{ 'register.form.gender_type.'+gender | lowercase | translate }}
          </button>
        </tui-data-list>
      </ng-template>
    </tui-select>
    <div class="h-5 flex items-center font-medium tracking-wide text-red-500 text-xs">
        <span *ngIf="gender?.touched && gender?.getError('required')">
          {{'register.form.validator.required' | translate}}
        </span>
    </div>

  </section>

  <div>
    <div class="mb-5">
      <label class="flex justify-start space-x-2">
        <input type="checkbox" class="checkbox checkbox-success" [value]="termsAndConditions" (click)="toggleTermsAndConditions()"/>
        <span class="label-text my-auto">{{'register.form.accept' | translate}} <a routerLink="/terms-and-conditions"  target="_blank" class="link">{{'register.form.termsAmdConditions' | translate}}</a></span>
      </label>
    </div>
    <div class="w-full">
      <button [disabled]="loading || !termsAndConditions"
              [ngClass]="{'disabled bg-gray-400 hover:bg-gray-400': !termsAndConditions}"
              class="rounded-md py-2 font-medium text-blue-50 bg-emerald-600 hover:bg-emerald-700 mb-3 w-full">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        {{'register.form.btn_create' | translate}}
      </button>
      <a [routerLink]="['../login']" class="link font-bold text-emerald-600 w-full">{{'register.form.btn_cancel' | translate}}</a>
    </div>

  </div>
</form>
