<div class="card w-40 sm:w-64 md:w-52 lg:w-56 xl:w-72 bg-base-100 shadow-xl cursor-pointer">
  <figure><img class="object-cover h-52 xl:h-64 w-full" [src]="product.imageUrl" [alt]="product.name"/></figure>
  <div class="p-3 sm:p-5">
    <h2 class="text-md sm:text-xl font-bold">{{product.name}}</h2>
    <span class="font-light text-sm sm:text-lg">{{'products.'+product.productType | translate}}</span>

    <div class="card-actions sm:justify-end text-sm sm:text-lg mt-2">
      <div class="text-center font-bold">
        <span class="font-light ">à partir de </span>
        {{product.price}} €
        <fa-icon [icon]="arrowDetails"></fa-icon>
      </div>
    </div>
  </div>
</div>

