<section class="px-8 md:px-48 sm:px-16 my-10">
  <h1 class="text-4xl font-bold text-center">Termes et Conditions</h1>

  <h2 class="text-2xl font-bold mt-5">Introduction</h2>
  <p>Ces termes et conditions régissent votre utilisation de notre service en ligne. Veuillez les lire attentivement avant de créer un compte.</p>

  <h2 class="text-2xl font-bold mt-5">Acceptation des termes</h2>
  <p>En créant un compte, vous acceptez pleinement et sans réserve ces termes et conditions.</p>

  <h2 class="text-2xl font-bold mt-5">Confidentialité</h2>
  <p>Nous respectons votre vie privée. Veuillez consulter notre politique de confidentialité pour comprendre comment nous collectons, utilisons et protégeons vos informations personnelles.</p>

  <h2 class="text-2xl font-bold mt-5">Utilisation du compte</h2>
  <p>Vous êtes responsable de maintenir la confidentialité de vos informations de compte et de toutes les activités qui se produisent sous votre compte.</p>

  <h2 class="text-2xl font-bold mt-5">Propriété intellectuelle</h2>
  <p>Tout le contenu présenté sur notre site est protégé par des droits d'auteur et d'autres lois sur la propriété intellectuelle.</p>

  <h2 class="text-2xl font-bold mt-5">Limitation de responsabilité</h2>
  <p>Nous ne serons pas responsables des dommages directs, indirects, accessoires, spéciaux, consécutifs ou exemplaires découlant de l'utilisation de notre service.</p>

  <h2 class="text-2xl font-bold mt-5">Résiliation</h2>
  <p>Nous nous réservons le droit de résilier votre compte si vous violez ces termes et conditions.</p>

  <h2 class="text-2xl font-bold mt-5">Modification des termes</h2>
  <p>Nous nous réservons le droit de modifier ces termes et conditions à tout moment. Nous vous informerons des changements importants par le biais de notifications sur notre site.</p>

  <h2 class="text-2xl font-bold mt-5">Contact</h2>
  <p>Si vous avez des questions concernant ces termes et conditions, veuillez nous contacter à l'adresse suivante : contact&#64;exemple.com.</p>

  <p>En créant un compte, vous confirmez avoir lu, compris et accepté ces termes et conditions.</p>

</section>
