<div class="bg-black-grey ">
  <div class="container p-6 mx-auto">
    <div class="lg:flex">
      <div class="w-full -mx-6 lg:w-2/5">
        <div class="px-6">
          <a href="#">
          </a>

          <p class="max-w-sm mt-2 text-gray-300">Merci d'avoir consulter notre page calidom, n'hésitez pas à nous contacter au besoin.</p>

          <div class="flex mt-6 -mx-2">
           <span class="text-white text-2xl font-bold ml-2">Calidom</span>
          </div>
        </div>
      </div>

      <div class="mt-6 lg:mt-0 lg:flex-1">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <div>
            <h3 class=" uppercase text-white">A Propos</h3>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Livraison</a>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Contacte</a>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Partenaire</a>
          </div>


          <div>
            <h3 class="text-gray-700 uppercase text-white">Produits</h3>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Chaudiere</a>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Boilere</a>
            <a href="#" class="block mt-2 text-sm text-gray-300 hover:underline">Sanitaire</a>
          </div>

          <div>
            <h3 class="text-gray-700 uppercase text-white">Contact</h3>
            <span class="block mt-2 text-sm text-gray-300 hover:underline">+32 488 617 908</span>
            <span class="block mt-2 text-sm text-gray-300 hover:underline">example&#64;email.com</span>
          </div>
        </div>
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-500 border-none">

    <div>
      <p class="text-center text-gray-300">© Calidom 2023 - All rights reserved</p>
    </div>
  </div>
</div>
